@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

*{
    background-color: rgba(175, 104, 104, 0.82);
    font-family: 'Titillium Web', sans-serif;
    border: transparent;
    
}
#list, #list * {
    background-color: pink;
}
#list {
    padding-top: 4%;
 
}
input {
    background-color: rgba(139, 29, 161, 0.21);
}